.container {
    display: flex;
    /* padding-left: 3%; */
    /* padding-right: 3%; */

  }
  
  .navbar {
    background-color: #f8f9fa;
  }
  
  .menu {
    flex-grow: 1;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
  }
  